body {
    background-color: #252933; 
}
.ui {
    background-color:  #252933;
}


#signuplink {
    text-decoration: none;
}

#logincard {
    color: #000000;
}

#userbox {
    padding: 12px 20px; margin: 8px 0; box-sizing: border-box;
}

#pwbox {
    padding: 12px 20px; margin: 8px 0; box-sizing: border-box;
}

.form-rounded {
    border-radius: 0.8em;
}

.loginMSG {
    color: red;
}
