.form-rounded {
    border-radius: 0.8em;
}

#signupcard {
    color: black;
}

#signupub {
    padding: 12px 20px; margin: 8px 0; box-sizing: border-box;
}

#signupass {
    padding: 12px 20px; margin: 8px 0; box-sizing: border-box;
}

#signupass2 {
    padding: 12px 20px; margin: 8px 0; box-sizing: border-box;
}

.superror {
    color: red;
}

#loginlink {
    text-decoration: none;
}
