
body {
    background-color: #252933; 
}
.ui {
    background-color:  #252933;
}
.form-rounded {
    border-radius: 0.8em;
}

#signupcard {
    color: black;
}

.signupbox {
    box-sizing: border-box;
}

#signupass {
  
}

#signupass2 {
}


.superror {
    color: red;

}

#loginlink {
    text-decoration: none;
    
}


