
body {
    background-color: #463b93; 
}
.ui {
    background-color:  #463b93;
}

.form-rounded {
    border-radius: 0.8em;
}

#signupcard {
    color: black;
}

.signupbox {
    box-sizing: border-box;
}


.superror {
    color: red;
}

#loginlink {
    text-decoration: none;
    
}


